h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 4em;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.login-two {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  width:50vh;
  padding: 4em;
}

.session-login {
  font-size: 4em;
  text-align: center;
  padding: 5px 10px 0;
  margin:0;
}

.login-logo {
  width: 30vh;
  margin: auto;
}

.sign-up, .login {
  padding: 0.7em;
  display: inline-block;
  border: 5px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

#home-cont {
  background-color: rgba(255, 255, 255, 0);
}
